- name: Install docker and Run Nginx
  hosts: webservers
  become: true
  vars:
    project_dir: /home/ubuntu/nginx_project

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: install basic packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present

    - name: add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
        state: present

    - name: install Docker packages
      apt:
        name:
            - docker-ce
            - docker-ce-cli
            - containerd.io
            - docker-compose-plugin
        state: present
        update_cache: yes

    - name: create project directory
      file:
        path: "{{ project_dir }}"
        state: directory
        mode: '0755'
        owner: ubuntu
        group: ubuntu

    - name: create docker-compose.yml
      copy:
        dest: "{{ project_dir }}/docker-compose.yml"
        content: |
          version: '3.8'
          services:
            nginx:
              image: nginx:latest
              ports:
                - "80:80"
              restart: always
        owner: ubuntu
        group: ubuntu

    - name: start nginx with Docker Compose
      shell: docker compose up -d
      args:
        chdir: "{{ project_dir }}"